.bgimage
{
	background-image: url('../images/reptiles.jpg');
	background-position: center center;
	background-size: cover;
	height: 200px;

}

.circle
{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

}

@media (max-width: 767px){
	.img-responsive
	{
		max-width: 50%;
		min-width: 300px;
	}
}